 .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    @media  screen and (max-width:475px) {
       @font-face {
          font-family: desi;
          src: url(../Font/PublicSans-Light.ttf);
       }
       .navigation{
         background-color: white;
         position: fixed;
         margin-left: -8px;
         box-shadow: 0 2px 0 0 black;
         overflow: auto;
         height: 40px;
         width: 100%;
         padding-bottom: 15px;
         padding-top: 10px;
         margin-top: -8px;
       }
       .navx{
          display: inline;
          position: relative;
          width: 100%;
          height: 300px;

       }
       *{
          font-family: desi;
       }
       .logo{
          margin-top: 10px;
          margin-left: 5px;
       }
       .ham{
         
         float: right;
         margin-top: 15px;
         margin-right: 20px;
         color: black;
         height: auto;
       }

       .section1{
          background-color: white;
       }
       .unordered1{
          background-color: white;
          box-shadow: 0 0 6px black;
          border-radius: 6px;
          height: 265px;
          transform: translate(100%,-110%) scale(1);
          position: fixed;
          overflow: auto;
          margin-left: 30px;
          width: 260px;
          margin-top: 45px;
          display: none;
          justify-content: center;
       }
       .unordered1 li{
         list-style-type: none;
         text-align: center;
         margin-top: 20px;
         padding-top: 6px;
       }
       .unordered1 li a{
          color: black;
          margin-right: 15px;
          text-decoration: none;
       }
       .sec1{
          background-image: url(../images/bg-intro-mobile.svg);
          width: 100%;
          height: auto;
          background-repeat: no-repeat;
       }
       .mu{
          width: 100%;
          height: auto;
          margin-top: -75px;
       }
       .lot{
          width: 250px;
          text-align: center;
       }
       .wow{
          font-weight: 300;
          color:  hsl(233, 8%, 62%);
          width: 250px;
          display: flex;
          justify-content: center;
          text-align: center;
       }
       .sec2{
          text-align: center;
          display: grid;
          justify-content: center;
       }
      
       .request{
          text-decoration: none;
          text-align: center;
          margin: auto;
          justify-content: center;
          color: white;
          background-image: linear-gradient(30deg, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
         padding: 6px;
         border-radius: 13px;
       }
       
       .request::after{
         filter: brightness(30%);
         color: black;
      }

       .section2{
          background-color: hsl(220, 16%, 96%);
          width: 100%;
          height: auto;
          padding-top: 10px;
          margin-top: 70px;
       }
       .sec2_1{
          display: block;
          justify-content: center;
       }
       .sec2_2{
         width: 250px;
         padding-left: 50px;
         text-align: center;
       }
       .sec2_3{
         font-weight: 300;

         color:  hsl(233, 8%, 62%);
         width: 250px;
         padding-left: 50px;
         text-align: center;
       }
       .sec2_4{
         text-align: center;
       }
       .we2,.we4,.we6,.we8{
         font-weight: 300;
         color:  hsl(233, 8%, 62%);
         margin-top: -20px;
         width: 250px;
         padding-left: 50px;
         text-align: center;
       }
       .we8{
          margin-bottom: -20px;
          padding-bottom: 30px;
       }
       .section3{
          background-color: hsl(0, 0%, 98%);
          width: 100%;
          height: auto;
       }
       .h_section2{
          text-align: center;
       }
       .card1{
          display: grid;
          text-align: center;
          margin-left: 26px;
          border-radius: 5px;
          margin-bottom: 20px;
          width: 300px;
       }
       .card1_img{
          border-radius: 8px 8px 0 0;
          width: 300px;
       }
       .card1_content{
          background-color: white;
          border-radius: 0 0 5px 5px;
          text-align: left;
          padding-left: 30px;
          padding-right: 10px;
       }
       .q{
          color:  hsl(233, 8%, 62%);
       }
       .w{
          margin-top: -10px;
          font-size: 15px;
       }
       .e{
          font-weight: 300;
          padding-bottom: 50px;
          margin-top: -10px;
          font-size: 12px;
          color: hsl(233, 8%, 62%);
       }
       .card2{
         display: grid;
          text-align: center;
          margin-left: 26px;
          border-radius: 5px;
          margin-bottom: 20px;
          width: 300px; 
       }
       .card2_img{
         border-radius: 8px 8px 0 0;
         width: 300px;
       }
       .card2_content{
         background-color: white;
         border-radius: 0 0 5px 5px;
         text-align: left;
         padding-left: 30px;
         padding-right: 10px;
       }
       .a{
         color:  hsl(233, 8%, 62%);
       }
       .s{
         margin-top: -10px;
         font-size: 15px; 
       }
       .d{
         font-weight: 300;
         padding-bottom: 50px;
         margin-top: -10px;
         font-size: 12px;
         color: hsl(233, 8%, 62%); 
       }
       .card3{
         display: grid;
         text-align: center;
         margin-left: 26px;
         border-radius: 5px;
         margin-bottom: 20px;
         width: 300px; 
       }
       .card3_img{
         border-radius: 8px 8px 0 0;
         width: 300px; 
       }
       .card3_content{
         background-color: white;
         border-radius: 0 0 5px 5px;
         text-align: left;
         padding-left: 30px;
         padding-right: 10px;
       }
       .f{
         color:  hsl(233, 8%, 62%);
       }
       .g{
         margin-top: -10px;
         font-size: 15px;  
       }
       .h{
         font-weight: 300;
         padding-bottom: 50px;
         margin-top: -10px;
         font-size: 12px;
         color: hsl(233, 8%, 62%);  
       }
       .card4{
         display: grid;
         text-align: center;
         margin-left: 26px;
         border-radius: 5px;
         margin-bottom: 20px;
         width: 300px;  
       }
       .card4_img{
         border-radius: 8px 8px 0 0;
         width: 300px;   
       }
       .card4_content{
         background-color: white;
         border-radius: 0 0 5px 5px;
         margin-bottom: 20px;
         text-align: left;
         padding-left: 30px;
         padding-right: 10px;
       }
       .j{
         color:  hsl(233, 8%, 62%);
       }
       .k{
         margin-top: -10px;
         font-size: 15px;  
       }
       .l{
         font-weight: 300;
         padding-bottom: 50px;
         margin-top: -10px;
         font-size: 12px;
         color: hsl(233, 8%, 62%);   
       }
       .foot{
          height: auto;
          display: grid;
          width: 100%;
          background-color:  hsl(233, 26%, 24%);
       }
       .foot_img{
          filter: invert(100%);
          padding-left: 100px;
          padding-top: 50px;
       }
       .footimgo{
          margin-top: 20px;
          margin-left: 100px;
          justify-content: center;
          
       }
       .end{
          list-style-type: none;
          margin-left: -45px;
          text-align: center;
          color: white;
       }
       .request2{
          margin-top: 15px;
          color: white;
          text-decoration: none;
          background-image: linear-gradient(30deg, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
          border-radius: 15px;
          padding-top: 2px;
          padding-bottom: -10px;
          width: 200px;
          height: 30px;
          margin-bottom: 50px;
          text-align: center;
          margin-left: 65px;
       }
    }