 .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    @media  screen and (max-width:675px) {
       @font-face {
          font-family: desi;
          src: url(../Font/PublicSans-Light.ttf);
       }
       .navigation{
         background-color: white;
         position: fixed;
         margin-left: -8px;
         box-shadow: 0 2px 0 0 black;
         overflow: auto;
         height: 40px;
         width: 100%;
         padding-bottom: 15px;
         padding-top: 10px;
         margin-top: -8px;
       }
       .navx{
          display: inline;
          position: relative;
          width: 100%;
          height: 300px;

       }
       .invit1{
          display: none;
       }
       *{
          font-family: desi;
       }
       .logo{
          margin-top: 10px;
          margin-left: 5px;
       }
       .ham{
         
         float: right;
         margin-top: 15px;
         margin-right: 20px;
         color: black;
         height: auto;
       }

       .ham2{
         float: right;
         margin-top: 15px;
         margin-right: 20px;
         color: black;
         height: auto;
         display: none;
       }

       .section1{
          background-color: white;
       }
       .unordered1{
          background-color: white;
          box-shadow: 0 0 6px black;
          border-radius: 6px;
          height: 300px;
          right: 50px;
          position: fixed;
          overflow: auto;
          margin-left: 55px;
          width: 280px;
          margin-top: 50px;
          justify-content: center;
       }
       .reordered{
         background-color: white;
         box-shadow: 0 0 6px black;
         border-radius: 6px;
         height: 300px;
         position: fixed;
         overflow: auto;
         margin-left: 65px;
         width: 280px;
         justify-content: center;
       }
       .unordered1 li{
         list-style-type: none;
         text-align: center;
         margin-top: 20px;
         padding-top: 6px;
       }
       .unordered1 li a{
          color: black;
          cursor: pointer;
          margin-right: 15px;
          text-decoration: none;
          transition-duration: 1s;
       }
       .sec1{
          background-image: url(../images/bg-intro-mobile.svg);
          width: 100%;
          height: auto;
          background-repeat: no-repeat;
       }
       .mu{
          width: 100%;
          height: auto;
          margin-top: -75px;
       }
       .lot{
          width: 250px;
          text-align: center;
       }
       .wow{
          font-weight: 300;
          color:  hsl(233, 8%, 62%);
          width: 250px;
          display: flex;
          justify-content: center;
          text-align: center;
       }
       .sec2{
          text-align: center;
          display: grid;
          justify-content: center;
       }
      
       .request{
          text-decoration: none;
          text-align: center;
          margin: auto;
          justify-content: center;
          color: white;
          background-image: linear-gradient(30deg, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
         padding: 6px;
         border-radius: 13px;
       }
       
       .request::after{
         filter: brightness(30%);
         color: black;
      }

       .section2{
          background-color: hsl(220, 16%, 96%);
          width: 100%;
          height: auto;
          padding-top: 10px;
          margin-top: 70px;
       }
       .sec2_1{
          display: block;
          justify-content: center;
       }
       .sec2_2{
         width: 250px;
         padding-left: 50px;
         text-align: center;
       }
       .sec2_3{
         font-weight: 300;

         color:  hsl(233, 8%, 62%);
         width: 250px;
         padding-left: 50px;
         text-align: center;
       }
       .sec2_4{
         text-align: center;
       }
       .we2,.we4,.we6,.we8{
         font-weight: 300;
         color:  hsl(233, 8%, 62%);
         margin-top: -20px;
         width: 250px;
         padding-left: 50px;
         text-align: center;
       }
       .we8{
          margin-bottom: -20px;
          padding-bottom: 30px;
       }
       .section3{
          background-color: hsl(0, 0%, 98%);
          width: 100%;
          height: auto;
       }
       .h_section2{
          text-align: center;
       }
       .card1{
          display: grid;
          text-align: center;
          margin-left: 26px;
          border-radius: 5px;
          margin-bottom: 20px;
          width: 300px;
       }
       .card1_img{
          border-radius: 8px 8px 0 0;
          width: 300px;
       }
       .card1_content{
          background-color: white;
          border-radius: 0 0 5px 5px;
          text-align: left;
          padding-left: 30px;
          padding-right: 10px;
       }
       .q{
          color:  hsl(233, 8%, 62%);
       }
       .w{
          margin-top: -10px;
          font-size: 15px;
       }
       .e{
          font-weight: 300;
          padding-bottom: 50px;
          margin-top: -10px;
          font-size: 12px;
          color: hsl(233, 8%, 62%);
       }
       .card2{
         display: grid;
          text-align: center;
          margin-left: 26px;
          border-radius: 5px;
          margin-bottom: 20px;
          width: 300px; 
       }
       .card2_img{
         border-radius: 8px 8px 0 0;
         width: 300px;
       }
       .card2_content{
         background-color: white;
         border-radius: 0 0 5px 5px;
         text-align: left;
         padding-left: 30px;
         padding-right: 10px;
       }
       .a{
         color:  hsl(233, 8%, 62%);
       }
       .s{
         margin-top: -10px;
         font-size: 15px; 
       }
       .d{
         font-weight: 300;
         padding-bottom: 50px;
         margin-top: -10px;
         font-size: 12px;
         color: hsl(233, 8%, 62%); 
       }
       .card3{
         display: grid;
         text-align: center;
         margin-left: 26px;
         border-radius: 5px;
         margin-bottom: 20px;
         width: 300px; 
       }
       .card3_img{
         border-radius: 8px 8px 0 0;
         width: 300px; 
       }
       .card3_content{
         background-color: white;
         border-radius: 0 0 5px 5px;
         text-align: left;
         padding-left: 30px;
         padding-right: 10px;
       }
       .f{
         color:  hsl(233, 8%, 62%);
       }
       .g{
         margin-top: -10px;
         font-size: 15px;  
       }
       .h{
         font-weight: 300;
         padding-bottom: 50px;
         margin-top: -10px;
         font-size: 12px;
         color: hsl(233, 8%, 62%);  
       }
       .card4{
         display: grid;
         text-align: center;
         margin-left: 26px;
         border-radius: 5px;
         margin-bottom: 20px;
         width: 300px;  
       }
       .card4_img{
         border-radius: 8px 8px 0 0;
         width: 300px;   
       }
       .card4_content{
         background-color: white;
         border-radius: 0 0 5px 5px;
         margin-bottom: 20px;
         text-align: left;
         padding-left: 30px;
         padding-right: 10px;
       }
       .j{
         color:  hsl(233, 8%, 62%);
       }
       .k{
         margin-top: -10px;
         font-size: 15px;  
       }
       .l{
         font-weight: 300;
         padding-bottom: 50px;
         margin-top: -10px;
         font-size: 12px;
         color: hsl(233, 8%, 62%);   
       }
       .foot{
          height: auto;
          display: grid;
          width: 100%;
          background-color:  hsl(233, 26%, 24%);
       }
       .foot_img{
          filter: invert(100%);
          padding-left: 100px;
          padding-top: 50px;
       }
       .footimgo{
          margin-top: 20px;
          margin-left: 100px;
          justify-content: center;
          
       }
       .end{
          list-style-type: none;
          margin-left: -45px;
          text-align: center;
          color: white;
       }
       .request2{
          margin-top: 15px;
          color: white;
          text-decoration: none;
          background-image: linear-gradient(30deg, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
          border-radius: 15px;
          padding-top: 2px;
          padding-bottom: -10px;
          width: 200px;
          height: 30px;
          margin-bottom: 50px;
          text-align: center;
          margin-left: 65px;
       }
    }


    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

   @media screen and (min-width:856px) {
      @font-face {
         font-family: desi;
         src: url(../Font/PublicSans-Light.ttf);
      }
nav{
   position: fixed;
   overflow: auto;
}
      body{
         font-family: desi;
         margin: 0;
         overflow-x: hidden;
         padding: 0;
      }
      .ham{
         display: none;
         float: none;
      }
      .ham2{
         display: none;
         float: none;
      }
      .navigation{
         width: 100%;
         position: fixed;
         overflow: auto;
         background-color: white;
         box-shadow: 0 0 12px 0 black;
         height: 100px;
        
      }
      .logo{
         margin-left: 30px;
         width: 190px;
      }
      .navx{
         display: flex;
         padding-top: 35px;
      }
      .unordered1{
         padding-left: 400px;
         position: relative;
         margin-top: -25px;
      }
      .unordered1 li{
         padding-left: 50px;
         display: inline;
      }
      li a{
         cursor: pointer;
         text-decoration: none;
         color: black;
         display: inline;
         position: relative;
         left: 0;
      }
      .active::before{
         content: "";
         top: 35px;
         width: 100%;
         position: absolute;
         left: 0;
         height: 3px;
         background-image: linear-gradient(30deg, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
         transition:width .5s ease-in-out;
         z-index: 2;
      }
      .we::before{
         content: "";
         top: 35px;
         width: 0;
         position: absolute;
         left: 0;
         height: 3px;
         background-image: linear-gradient(30deg, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
         transition:width .5s ease-in-out;
         z-index: 1;
      }
      
      #invit1{
         list-style-type: none;
         text-decoration: none;
         color: white;
         background-image: linear-gradient(30deg, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
        padding:10px;
        position: relative;
        top: -9px;
        text-align: center;
        width: 140px;
        left: -150px;
        border-radius: 23px;
        float: right;
      }
      .section1{
         padding-top: 130px;
         width: 1000px;
         display: flex;
      }
      .sec1{
         display: grid;
         order: 2;
         width: 100%;
        
      }
      .mu{
         margin-top: -780px;
         margin-left: 360px;
         width: 620px;
         height: 790px;
      }
      .re{
         margin-top: -250px;
         margin-left: 110px;
         width: 975px;
         height: 900px;
      }
      .sec2{
         text-align: center;
         width: 300px;
         padding-left: 180px;
      }
      .lot{
         font-size: 40px;
         color: black;
         width: 300px;
         text-align: left;
         margin-top: 120px;
      }
      .wow{
         font-weight: 200;
         color:  hsl(233, 8%, 62%);
         margin-top: 10px;
         text-align: left;
         font: 30px;
      }
      .requestw{
         list-style-type: none;
         text-decoration: none;
         color: white;
         background-image: linear-gradient(30deg, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
        padding:10px;
        top: 25px;
        text-align: center;
        margin-left: -160px;
        justify-content: left;
        width: 0px;
        border-radius: 23px;
      }
    .section2{
       background-color:   hsl(220, 16%, 96%);
       margin-top: -115px;
       padding: 80px;
       height: auto;
       width: 100%;
       padding-left: 140px;
    }  
    .sec2_2{
       font-size: 30px;
    }
    .sec2_3{
       width: 350px;
    }
    .sec2_4{
       display: flex;
       margin-top: 75px;
       padding-bottom: 48px;
       justify-content: space-around;
    }
   }